.chat-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.chat-modal {
  width: 80%;
  height: 85%;
  max-width: 1000px;
  background-color: white;
  border-radius: 24px; /* Уменьшенный радиус скругления */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: white;
  color: #2A2A37;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.chat-title {
  font-weight: 700;
  font-size: 14px;
  font-family: 'SF Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  color: #2A2A37;
  padding: 10px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.80) 100%),
              linear-gradient(129deg, rgba(49.19, 187.54, 255, 0.80) 0%, rgba(150, 118, 255, 0.80) 25%,
              rgba(190, 100, 254, 0.80) 41%, rgba(225, 87, 203, 0.80) 52%, rgba(239, 87, 148, 0.80) 62%,
              rgba(253, 104, 63, 0.80) 70%, rgba(254, 124, 43, 0.80) 85%, rgba(255, 161, 11, 0.80) 100%);
  background-blend-mode: hard_light, normal;
  border-radius: 18px;
  outline: 1px #C2D2FF solid;
  backdrop-filter: blur(20px);
}

.chat-controls {
  display: flex;
  gap: 10px;
}

.close-button, .clear-button {
  background: none;
  border: none;
  color: #2A2A37;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.2s;
}

.close-button:hover, .clear-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.chat-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
}

.input-container {
  display: flex;
  padding: 15px 40px;
  background-color: white;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
  justify-content: space-between;
  align-items: center;
}

.text-input-form {
  flex: 1;
  display: flex;
   /* Увеличенный отступ между полем ввода и кнопкой */

}

.text-input {
  flex: 1;
  padding: 12px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: white;
  color: black;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.text-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.text-input:focus {
  border-color: rgba(0, 0, 0, 0.2);
}

.send-button, .mic-button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid white;
  background-color: white;
  margin-left: 20px;
  color: #2A2A37;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
  position: relative;
  overflow: hidden;
}

.send-button svg, .mic-button svg {
  width: 24px;
  height: 24px;
  stroke: #2A2A37; /* Цвет иконок */
  fill: none; /* Убираем заливку для SVG */
  z-index: 2; /* Поднимаем иконки над фоном */
}

.send-button:hover, .mic-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.mic-button.active {
  background-color: white;
}

.mic-button.active::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.1;
  background: linear-gradient(90deg, #FF833F 0%, #FFC72F 7%, #E5FF3F 14%, #90FF41 20%, #43FF91 30%, #0FFBFF 44%, #4193FF 57%, #393FFF 67%, #A73BFF 79%, #FF37DA 89%, #FF3E3E 100%);
  filter: blur(14px);
}

.equalizer-container {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}